<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Meus Pedidos</title>
</head>

<body>

    <h1>Meus Pedidos</h1>

    {% if pedidos %}

        {% for pedido in pedidos %}

            <div>
                <h2>Pedido #{{ pedido.id }}</h2>

                <p>
                    Data:
                    {{ pedido.dataHora }}
                </p>

                <p>
                    Endereço:
                    {{ pedido.rua }}, {{ pedido.num_casa }}
                    - {{ pedido.bairro }}
                </p>

                <p>
                    CEP: {{ pedido.cep }}
                </p>

                <p>
                    Total:
                    R$ {{ pedido.valorTotal }}
                </p>

                <a href="{% url 'pedido:detalhe_pedido' pedido.id %}">
                    Ver pedido
                </a>
            </div>

            <hr>

        {% endfor %}

    {% else %}

        <p>Você ainda não possui pedidos.</p>

    {% endif %}

</body>

</html>